@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Umblr.cshtml";
}

<div class="stream">

    @foreach (var post in Model.Content.Children.Where(x => x.DocumentTypeAlias == "Post"))
    {
        var body = post.GetProperty("bodyText").Value.ToString();
        
        <div class="entry row">
            @if (body.Length < 150){
                <div class="thought">
                    <h2>@library.StripHtml(body)</h2>
                </div>
            }else{
                <div class="post">
                    @if (body.StartsWith("<h")){
                        @Html.Raw(body)
                    }else{
                        <h2>@post.Name</h2>
                        @Html.Raw(body)
                    }
                </div>        
            }
            <div class="meta">
                <abbr title="@post.UpdateDate.ToLongDateString() @post.UpdateDate.ToLongTimeString()">@post.UpdateDate.ToShortDateString()</abbr>
                <a href="@post.Url" title="Permanent link to @post.Name">PermaLink</a>
            </div>
        </div>
    }

</div>
